chartjslibrary.json
[
    {
        "id": "d8d3af8d8afac640",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "af2ee033.db3ba",
        "type": "inject",
        "z": "d8d3af8d8afac640",
        "name": "Dataset",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "{\"channel\":\"TP01\",\"color\":\"Red\",\"dataset\":[{\"x\":\"01/02/2019 10:00\",\"y\":10},{\"x\":\"01/02/2019 13:00\",\"y\":8},{\"x\":\"01/02/2019 16:20\",\"y\":15}]}",
        "payloadType": "json",
        "x": 160,
        "y": 20,
        "wires": [
            [
                "7731c057.0fb3f"
            ]
        ]
    },
    {
        "id": "32839842.a38f18",
        "type": "debug",
        "z": "d8d3af8d8afac640",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 530,
        "y": 20,
        "wires": []
    },
    {
        "id": "7731c057.0fb3f",
        "type": "chartjs-line",
        "z": "d8d3af8d8afac640",
        "name": "Temperature Chart",
        "path": "TP01",
        "charttitle": "Temperature Chart",
        "xaxis": "Dates",
        "yaxis": "Temperature [℃]",
        "x": 340,
        "y": 20,
        "wires": [
            [
                "32839842.a38f18"
            ]
        ]
    },
    {
        "id": "acf9a1bc.5c702",
        "type": "inject",
        "z": "d8d3af8d8afac640",
        "name": "Dataset",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"channel\":\"Population\",\"color\":\"Green\",\"dataset\":[{\"x\":\"Europe\",\"y\":741},{\"x\":\"Australia\",\"y\":24},{\"x\":\"Africa\",\"y\":1.2},{\"x\":\"America\",\"y\":325},{\"x\":\"Asia\",\"y\":4.4}]}",
        "payloadType": "json",
        "x": 147,
        "y": 99,
        "wires": [
            [
                "6eca1a24.0560a4"
            ]
        ]
    },
    {
        "id": "63c49dcf.9b3624",
        "type": "debug",
        "z": "d8d3af8d8afac640",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 527,
        "y": 99,
        "wires": []
    },
    {
        "id": "6958bc5f.8c5b64",
        "type": "chartjs-radar",
        "z": "d8d3af8d8afac640",
        "name": "Population Chart",
        "path": "POR",
        "charttitle": "Population Chart",
        "xaxis": "Item",
        "yaxis": "Value",
        "x": 341,
        "y": 566,
        "wires": [
            [
                "2d28eef8.eae122"
            ]
        ]
    },
    {
        "id": "387c7f31.575c7",
        "type": "inject",
        "z": "d8d3af8d8afac640",
        "name": "Dataset",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"channel\":\"Population\",\"color\":\"Blue\",\"dataset\":[{\"x\":1,\"y\":5},{\"x\":2,\"y\":0},{\"x\":3,\"y\":-2},{\"x\":4,\"y\":8},{\"x\":5,\"y\":0}]}",
        "payloadType": "json",
        "x": 141,
        "y": 566,
        "wires": [
            [
                "6958bc5f.8c5b64"
            ]
        ]
    },
    {
        "id": "2d28eef8.eae122",
        "type": "debug",
        "z": "d8d3af8d8afac640",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 541,
        "y": 566,
        "wires": []
    },
    {
        "id": "6eca1a24.0560a4",
        "type": "chartjs-vertical-bar",
        "z": "d8d3af8d8afac640",
        "name": "Population Chart",
        "path": "POV",
        "charttitle": "Population Chart",
        "xaxis": "Continent",
        "yaxis": "Million",
        "x": 347,
        "y": 99,
        "wires": [
            [
                "63c49dcf.9b3624"
            ]
        ]
    },
    {
        "id": "44dcf2af.ffa7dc",
        "type": "chartjs-horizontal-bar",
        "z": "d8d3af8d8afac640",
        "name": "Population Chart",
        "path": "POH",
        "charttitle": "Population Chart",
        "xaxis": "Continent",
        "yaxis": "Million",
        "x": 347,
        "y": 180,
        "wires": [
            [
                "625a12c4.36da6c"
            ]
        ]
    },
    {
        "id": "82d804c5.e2ebe8",
        "type": "inject",
        "z": "d8d3af8d8afac640",
        "name": "Dataset",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"channel\":\"Population\",\"color\":\"Green\",\"dataset\":[{\"x\":\"Europe\",\"y\":741},{\"x\":\"Australia\",\"y\":24},{\"x\":\"Africa\",\"y\":1.2},{\"x\":\"America\",\"y\":325},{\"x\":\"Asia\",\"y\":4.4}]}",
        "payloadType": "json",
        "x": 144,
        "y": 180,
        "wires": [
            [
                "44dcf2af.ffa7dc"
            ]
        ]
    },
    {
        "id": "625a12c4.36da6c",
        "type": "debug",
        "z": "d8d3af8d8afac640",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 527,
        "y": 180,
        "wires": []
    },
    {
        "id": "65344d7e.f86c84",
        "type": "chartjs-pie",
        "z": "d8d3af8d8afac640",
        "name": "Population Chart",
        "path": "POP",
        "charttitle": "Population Chart",
        "xaxis": "Animals",
        "yaxis": "Percentage [%]",
        "x": 347,
        "y": 260,
        "wires": [
            [
                "ea8c1fa.d6951e"
            ]
        ]
    },
    {
        "id": "ea8c1fa.d6951e",
        "type": "debug",
        "z": "d8d3af8d8afac640",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 527,
        "y": 260,
        "wires": []
    },
    {
        "id": "e317d3a9.8300a",
        "type": "inject",
        "z": "d8d3af8d8afac640",
        "name": "Dataset",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"channel\":\"Population\",\"color\":[\"Red\",\"Yellow\",\"Green\"],\"dataset\":[{\"x\":\"Birds\",\"y\":50},{\"x\":\"Fishes\",\"y\":20},{\"x\":\"Mammals\",\"y\":30}]}",
        "payloadType": "json",
        "x": 140,
        "y": 260,
        "wires": [
            [
                "65344d7e.f86c84"
            ]
        ]
    },
    {
        "id": "3c7b3bb1.1beb54",
        "type": "debug",
        "z": "d8d3af8d8afac640",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 527,
        "y": 340,
        "wires": []
    },
    {
        "id": "f0931c7d.fe85",
        "type": "inject",
        "z": "d8d3af8d8afac640",
        "name": "Dataset",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"channel\":\"Population\",\"color\":[\"Red\",\"Yellow\",\"Green\"],\"dataset\":[{\"x\":\"Birds\",\"y\":50},{\"x\":\"Fishes\",\"y\":20},{\"x\":\"Mammals\",\"y\":30}]}",
        "payloadType": "json",
        "x": 140,
        "y": 340,
        "wires": [
            [
                "3b0af033.7a77e"
            ]
        ]
    },
    {
        "id": "3b0af033.7a77e",
        "type": "chartjs-doughnut",
        "z": "d8d3af8d8afac640",
        "name": "Population Chart",
        "path": "POU",
        "charttitle": "Poblational Chart",
        "xaxis": "Animals",
        "yaxis": "Percentage [%]",
        "x": 347,
        "y": 340,
        "wires": [
            [
                "3c7b3bb1.1beb54"
            ]
        ]
    },
    {
        "id": "6bb07142.d969c",
        "type": "chartjs-bubble",
        "z": "d8d3af8d8afac640",
        "name": "Population Chart",
        "path": "POB",
        "charttitle": "Population Chart",
        "xaxis": "Animals",
        "yaxis": "Percentage [%]",
        "x": 343,
        "y": 493,
        "wires": [
            [
                "d56136f2.705038"
            ]
        ]
    },
    {
        "id": "57327d48.69fc04",
        "type": "inject",
        "z": "d8d3af8d8afac640",
        "name": "Dataset",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"channel\":\"Population\",\"color\":\"Green\",\"dataset\":[{\"x\":10,\"y\":50,\"r\":20},{\"x\":30,\"y\":20,\"r\":10},{\"x\":40,\"y\":30,\"r\":80}]}",
        "payloadType": "json",
        "x": 137,
        "y": 493,
        "wires": [
            [
                "6bb07142.d969c"
            ]
        ]
    },
    {
        "id": "d56136f2.705038",
        "type": "debug",
        "z": "d8d3af8d8afac640",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 537,
        "y": 493,
        "wires": []
    },
    {
        "id": "b566c7db.cbd708",
        "type": "debug",
        "z": "d8d3af8d8afac640",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 524,
        "y": 416,
        "wires": []
    },
    {
        "id": "ee6b3079.91262",
        "type": "inject",
        "z": "d8d3af8d8afac640",
        "name": "Dataset",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"channel\":\"Population\",\"color\":[\"Red\",\"Yellow\",\"Green\"],\"dataset\":[{\"x\":\"Birds\",\"y\":50},{\"x\":\"Fishes\",\"y\":20},{\"x\":\"Mammals\",\"y\":30}]}",
        "payloadType": "json",
        "x": 137,
        "y": 416,
        "wires": [
            [
                "9269f59b.2df3f8"
            ]
        ]
    },
    {
        "id": "9269f59b.2df3f8",
        "type": "chartjs-polar",
        "z": "d8d3af8d8afac640",
        "name": "Population Chart",
        "path": "POL",
        "charttitle": "Population Chart",
        "xaxis": "Animals",
        "yaxis": "Percentage [%]",
        "x": 344,
        "y": 416,
        "wires": [
            [
                "b566c7db.cbd708"
            ]
        ]
    }
]